<div class="answer-sheet">
  <h1>Stupid Coaching</h1>

  <p> Your question: <%= params[:question_for_coach] %></p>
  <p> Coach answer: <%= @answer %></p>

  <p> <%= link_to 'Ask another question!', ask_path %></p>
</div>
