<h1 class="headers">Stupid Coaching</h1>

<form action="/answer" method="get" class="form-group">
  <input type="text" name="question_for_coach" class="form-control" placeholder="Ask your Coach anything">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
