// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group {
  margin-left: 40px;
  width: 300px;
}
.headers {
  margin-left: 40px;
}
.answer-sheet {
  margin-left: 40px;
}
